<li><a href="http://www.egison.org/ja/demonstrations/poker-hands.html">ポーカーの役判定</a></li>
<li><a href="http://www.egison.org/ja/demonstrations/mahjong.html">麻雀の上がり判定</a></li>
<li><a href="http://www.egison.org/ja/demonstrations/primes.html">素数の無限列</a></li>
<li><a href="http://www.egison.org/ja/demonstrations/tree.html">ツリー</a></li>
<li><a href="http://www.egison.org/ja/demonstrations/graph.html">グラフ</a></li>
<li><a href="http://www.egison.org/ja/demonstrations/randomized-3sat.html">3-SATを解く乱択アルゴリズム</a></li>
<li><a href="http://www.egison.org/ja/demonstrations/life-expectancy/">時系列データ解析</a></li>
