<li><a href="/ja/libraries/core/base.html">lib/core/base.egi</a></li>
<li><a href="/ja/libraries/core/collection.html">lib/core/collection.egi</a></li>
<li><a href="/ja/libraries/core/order.html">lib/core/order.egi</a></li>
<li><a href="/ja/libraries/core/number.html">lib/core/number.egi</a></li>
<li><a href="/ja/libraries/core/io.html">lib/core/io.egi</a></li>
<li><a href="/ja/libraries/core/string.html">lib/core/string.egi</a></li>
<li><a href="/ja/libraries/core/random.html">lib/core/random.egi</a></li>
<li><a href="/ja/libraries/math/analysis/derivative.html">lib/math/analysis/derivative.egi</a></li>
