<div class="col-md-4" role="main">
  
  <h3>Article List</h3>

  <ul>
    <li><a href="./#evolution">Evolution of Programming Languages [2014/05/12]</a></li>
    <li><a href="./#AI">Thoght on Artificial Intelligence [2014/05/09]</a></li>
  </ul>
  
  <h3>Recent Tweets</h3>
  
  <a class="twitter-timeline" href="https://twitter.com/Egison_Lang" data-widget-id="464647679801163776">Tweets by @Egison_Lang</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
</div>
