/* Color Code
#493759, => #0f2350
#392749, => #091340
#352245, => #060838

#414FA3
#313F93
#263A88
*/


/* GLOBAL STYLES
   -------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    font-family: 'Oxygen', sans-serif;
    padding-top: 50px;
    color: #5a5a5a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}


.manual h1 {
    padding-top: 80px;
    margin-top: -45px;
}
.manual h2 {
    padding-top: 80px;
    margin-top: -45px;
}
.manual h3 {
    padding-top: 65px;
    margin-top: -45px;
}

.manual p {
    margin-top: 10px;
    font-size: 17px;
}

.table-of-contents li {
    font-size: 22px;
}

.blog h1 {
    font-size: 32px;
}

.col-md-12 h1 {
    font-size: 36px;
}

.blog h2 {
    font-size: 27px;
    padding-top: 65px;
    margin-top: -45px;
}

.blog h3 {
    font-size: 22px;
}

.blog h4 {
    font-size: 17px;
}

.blog li {
    font-size: 17px;
}

pre.prettyprint {
    padding-left: 10px;
    font-size: 15px;
}

/* CUSTOMIZE THE NAVBAR
   -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.navbar {
    opacity:0.95;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #cccccc;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}
.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav > li > iframe {
    margin-top: 15px;

}

/* CUSTOMIZE THE SIDENAV
   -------------------------------------------------- */

.affix {
    margin-top: 0;
    margin-bottom: 0;
    top: 80px;
    width: 360px;
}

sidenav, .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
    top: 80px;
    width: 360px;
}

/* First level of nav */
.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top:    10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
    display: none; /* Hide by default, but at >768px, show it */
    margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}

/* CUSTOMIZE THE CAROUSEL
   -------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 280px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 280px;
    background-color: #777;
}
.carousel-inner > .item > img {
    min-width: 100%;
    height: 280px;
}

.jumbotron {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-buttom: 20px;
    color: #ffffff;
    background-color: #0f2350;
    /*
    background-image: url(/images/texture_bg.jpg);
    background-repeat:repeat;
    */
    /*
    background-image: url(/images/abstract_texture.jpeg);
    */
}

.jumbotron h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* MARKETING CONTENT
   -------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-left: 15px;
    padding-right: 15px;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
}
.marketing h2 {
    font-weight: normal;
    font-size: x-large;
}
.marketing h3 {
    font-weight: normal;
    font-size: x-large;
}
.marketing .col-lg-4 p {
}
.marketing ul {
    padding: 0px;
    margin: 0 0 9px 20px;
}

/* Featurettes
   ------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/* RESPONSIVE CSS
   -------------------------------------------------- */

@media (max-width: 992px) {
    .pull-right {
        display: none;
    }
}

@media (min-width: 768px) {

    /* Remove the edge padding needed for mobile */
    .marketing {
        padding-left: 0;
        padding-right: 0;
    }
    .jumbotron {
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        padding-buttom: 20px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }

}

/* Costuminzing by Egi
   -------------------------------------------------- */

.footer {
    background-color: #222222;
    color: #fff;
    margin-top: 40px;
    padding: 12px 8px 8px 8px;
    text-align: center;
    font-size: 95%;
}
.footer p {
    margin-bottom: 0;
    color: #fff;
}


/* For CodeMirror
   -------------------------------------------------- */
.CodeMirror {
    font-family: 'Oxygen Mono';
    font-size: 16px;
    border: 1px solid #eee;
    height: auto;
    margin: 0 0 10px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.btn {
    margin: 0 0 10px;
}

/* btn-primary */

.btn-primary {
  color: #ffffff;
  background-color: #0f2350;
  border-color: #091340;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #091340;
  border-color: #060838;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #0f2350;
  border-color: #091340;
}

.btn-primary .badge {
  color: #0f2350;
  background-color: #fff;
}

/* btn-top */

.btn-top {
  color: #ffffff;
  background-color: #0f2350;
  border-color: #ffffff;
}

.btn-top:hover,
.btn-top:focus,
.btn-top:active,
.btn-top.active,
.open .dropdown-toggle.btn-top {
  color: #ffffff;
  background-color: #091340;
  border-color: #ffffff;
}

.btn-top:active,
.btn-top.active,
.open .dropdown-toggle.btn-top {
  background-image: none;
}

.btn-top.disabled,
.btn-top[disabled],
fieldset[disabled] .btn-top,
.btn-top.disabled:hover,
.btn-top[disabled]:hover,
fieldset[disabled] .btn-top:hover,
.btn-top.disabled:focus,
.btn-top[disabled]:focus,
fieldset[disabled] .btn-top:focus,
.btn-top.disabled:active,
.btn-top[disabled]:active,
fieldset[disabled] .btn-top:active,
.btn-top.disabled.active,
.btn-top[disabled].active,
fieldset[disabled] .btn-top.active {
  color: #ffffff;
  background-color: #0f2350;
  border-color: #ffffff;
}

.btn-top .badge {
  color: #0f2350;
  background-color: #fff;
}

/* btn-top-github */

.btn-top-github {
  color: #ffffff;
  background-color: #414FA3;
  border-color: #ffffff;
}

.btn-top-github:hover,
.btn-top-github:focus,
.btn-top-github:active,
.btn-top-github.active,
.open .dropdown-toggle.btn-top-github {
  color: #ffffff;
  background-color: #313F93;
  border-color: #ffffff;
}

.btn-top-github:active,
.btn-top-github.active,
.open .dropdown-toggle.btn-top-github {
  background-image: none;
}

.btn-top-github.disabled,
.btn-top-github[disabled],
fieldset[disabled] .btn-top-github,
.btn-top-github.disabled:hover,
.btn-top-github[disabled]:hover,
fieldset[disabled] .btn-top-github:hover,
.btn-top-github.disabled:focus,
.btn-top-github[disabled]:focus,
fieldset[disabled] .btn-top-github:focus,
.btn-top-github.disabled:active,
.btn-top-github[disabled]:active,
fieldset[disabled] .btn-top-github:active,
.btn-top-github.disabled.active,
.btn-top-github[disabled].active,
fieldset[disabled] .btn-top-github.active {
  color: #ffffff;
  background-color: #414FA3;
  border-color: #313F93;
}

.btn-top-github .badge {
  color: #414FA3;
  background-color: #fff;
}

/* btn-github */

.btn-github {
  color: #ffffff;
  background-color: #414FA3;
  border-color: #313F93;
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
  color: #ffffff;
  background-color: #313F93;
  border-color: #263A88;
}

.btn-github:active,
.btn-github.active,
.open .dropdown-toggle.btn-github {
  background-image: none;
}

.btn-github.disabled,
.btn-github[disabled],
fieldset[disabled] .btn-github,
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled:active,
.btn-github[disabled]:active,
fieldset[disabled] .btn-github:active,
.btn-github.disabled.active,
.btn-github[disabled].active,
fieldset[disabled] .btn-github.active {
  background-color: #414FA3;
  border-color: #313F93;
}

.btn-github .badge {
  color: #414FA3;
  background-color: #fff;
}
