<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Algebra</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Root of Unity</td>
      <td>
        <a href="/math/5th-root-of-unity.html"><code>5th root of unity</code><br/>
        <a href="/math/7th-root-of-unity.html"><code>7th root of unity</code><br/>
        <a href="/math/17th-root-of-unity.html"><code>17th root of unity</code><br/>
      </td>
    </tr>
  </tbody>
</table>
