<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Algebra</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Algebraic Equation</td>
      <td>
        <a href="/math/quadratic-equation.html">Quadratic Equation</a><br/>
        <a href="/math/cubic-equation.html">Cubic Equation</a><br/>
        <a href="/math/quartic-equation.html">Quartic Equation</a><br/>
      </td>
    </tr>
    <tr>
      <td>Root of Unity</td>
      <td>
        <a href="/math/5th-root-of-unity.html">5th Root of Unity</a><br/>
        <a href="/math/7th-root-of-unity.html">7th Root of Unity</a><br/>
        <a href="/math/9th-root-of-unity.html">9th Root of Unity</a><br/>
        <a href="/math/17th-root-of-unity.html">17th Root of Unity</a><br/>
      </td>
    </tr>
  </tbody>
</table>
