<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Mathematical Analysis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Derivative</td>
      <td>
        <!-- <a href="/math/order-of-partial-derivative.html">Order of partial derivative</a><br/> -->
        <a href="/math/polar-laplacian-2d.html">Laplacian in Polar Coordinates</a><br/>
        <a href="/math/polar-laplacian-3d.html">Laplacian in Spherical Coordinates</a><br/>
      </td>
    </tr>
    <tr>
      <td>Series</td>
      <td>
        <a href="/math/eulers-formula.html">Euler's Formula</a><br/>
      </td>
    </tr>
    <tr>
      <td>Fourier Analysis</td>
      <td>
        <a href="/math/leibniz-formula.html">Leibniz Formula</a><br/>
      </td>
    </tr>
  </tbody>
</table>
