<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Geometry</th>
    </tr>
  </thead>
  <tbody>
    <!--
    <tr>
      <td>Circular functions</td>
      <td>
        <a href="/math/trigonometric-identities.html">Trigonometric Identities</a><br/>
      </td>
    </tr>
    -->
    <tr>
      <td>Riemannian Geometry</td>
      <td>
        <a href="/math/gaussian-curvature-of-surface.html">Gaussian Curvature</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S2.html">Riemann Curvature Tensor of `S^2`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S3.html">Riemann Curvature Tensor of `S^3`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S4.html">Riemann Curvature Tensor of `S^4`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S5.html">Riemann Curvature Tensor of `S^5`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S7.html">Riemann Curvature Tensor of `S^7`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-T2.html">Riemann Curvature Tensor of `T^2`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S2xS3.html">Riemann Curvature Tensor of `S^2 xx S^3`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-Schwarzschild-metric.html">Schwarzschild Metric</a><br/>
        <a href="/math/riemann-curvature-tensor-of-FLRW-metric.html">Friedmann–Lemaître–Robertson–Walker Metric</a><br/>
      </td>
    </tr>
    <tr>
      <td>Differential Forms</td>
      <td>
        <a href="/math/wedge-product.html">Wedge Product</a><br/>
        <a href="/math/exterior-derivative.html">Exterior Derivative</a><br/>
        <a href="/math/hodge-E3.html">Hodge Operator of `E^3`</a><br/>
        <a href="/math/hodge-minkowski.html">Hodge Operator of Minkowski Space</a><br/>
        <a href="/math/hodge-laplacian-polar.html">Hodge Laplacian of Polar Coordinates</a><br/>
        <a href="/math/hodge-laplacian-sperical.html">Hodge Laplacian of Spherical Coordinates</a><br/>
        <a href="/math/curvature-form.html">Curvature Form</a><br/>
      </td>
    </tr>
    <tr>
      <td>Application to Physics</td>
      <td>
        <a href="/math/vector-analysis.html">Vector Analysis</a><br/>
        <a href="/math/yang-mills-equation-of-U1-gauge-theory.html">Yang-Mills Equation of `U(1)` Gauge Theory</a><br/>
      </td>
    </tr>
    <tr>
      <td>Characteristic Classes</td>
      <td>
        <a href="/math/euler-form-of-S2.html">Euler Form of `S^2`</a><br/>
        <a href="/math/euler-form-of-T2.html">Euler Form of `T^2`</a><br/>
        <a href="/math/chern-form-of-CP1.html">Chern Form of `CP_1`</a><br/>
      </td>
    </tr>
  </tbody>
</table>
