<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Geometry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Circular functions</td>
      <td>
        <a href="/math/trigonometric-identities.html">Trigonometric Identities</a><br/>
      </td>
    </tr>
    <tr>
      <td>Differential geometry</td>
      <td>
        <a href="/math/gaussian-curvature-of-surface.html">Gaussian Curvature</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S2.html">Riemann Curvature Tensor of `S^2`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S3.html">Riemann Curvature Tensor of `S^3`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S4.html">Riemann Curvature Tensor of `S^4`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S5.html">Riemann Curvature Tensor of `S^5`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S7.html">Riemann Curvature Tensor of `S^7`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-T2.html">Riemann Curvature Tensor of `T^2`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S2xS3.html">Riemann Curvature Tensor of `S^2 xx S^3`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-Schwarzschild-metric.html">Schwarzschild Metric</a><br/>
        <a href="/math/riemann-curvature-tensor-of-FLRW-metric.html">Friedmann–Lemaître–Robertson–Walker Metric</a><br/>
        <a href="/math/curvature-form.html">Curvature Form</a><br/>
        <a href="/math/euler-form-of-S2.html">Euler Form of `S^2`</a><br/>
        <a href="/math/euler-form-of-T2.html">Euler Form of `T^2`</a><br/>
      </td>
    </tr>
  </tbody>
</table>
