<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Geometry</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Circular functions</td>
      <td>
        <a href="/math/trigonometric-identities.html">Trigonometric identities</a><br/>
      </td>
    </tr>
    <tr>
      <td>Differential geometry</td>
      <td>
        <a href="/math/gaussian-curvature-of-surface.html">Gaussian Curvature</a><br/>
        <a href="/math/riemann-curvature-tensor-of-the-2-sphere.html">Riemann Curvature Tensor of `S_2`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S3.html">Riemann Curvature Tensor of `S_3`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S4.html">Riemann Curvature Tensor of `S_4`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-S5.html">Riemann Curvature Tensor of `S_5`</a><br/>
        <a href="/math/riemann-curvature-tensor-of-the-2-torus.html">Riemann Curvature Tensor of `T_2`</a><br/>
      </td>
    </tr>
  </tbody>
</table>
