<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Number Theory</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Elementary Number Theory</td>
      <td>
        <a href="/math/tribonacci.html">Tribonacci Number</a><br/>
        <a href="/math/eulers-totient-function.html">Euler's Totient Function</a><br/>
      </td>
    </tr>
    <tr>
      <td>Quadratic Field</td>
      <td>
        <a href="/math/gaussian-primes.html">Gaussian Primes</a><br/>
        <a href="/math/eisenstein-primes.html">Eisenstein Primes</a><br/>
      </td>
    </tr>
  </tbody>
</table>
