<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Number Theory</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Root of unity</td>
      <td>
        <a href="/math/5th-root-of-unity.html">5th root of unity<br/>
        <a href="/math/7th-root-of-unity.html">7th root of unity<br/>
        <a href="/math/9th-root-of-unity.html">9th root of unity<br/>
        <a href="/math/17th-root-of-unity.html">17th root of unity<br/>
      </td>
    </tr>
    <tr>
      <td>Quadratic field</td>
      <td>
        <a href="/math/gaussian-primes.html">Gaussian primes<br/>
        <a href="/math/eisenstein-primes.html">Eisenstein primes<br/>
      </td>
    </tr>
  </tbody>
</table>
