<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">Physics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Analysis</td>
      <td>
        <a href="/math/vector-analysis.html">Vector Analysis</a><br/>
      </td>
    </tr>
    <tr>
      <td>Gauge Theory</td>
      <td>
        <a href="/math/yang-mills-equation-of-U1-gauge-theory.html">Yang-Mills Equation of `U(1)` Gauge Theory</a><br/>
      </td>
    </tr>
  </tbody>
</table>
