<div class="col-md-4" role="main">
  
  <h3>記事一覧</h3>

  <ul>
    <li><a href="./PhysicsAndGeometry.html">Egisonでゲージ理論 - 量子と古典の物理と幾何@九大[2017/12/01]</a></li>
    <li><a href="./RiemannianGeometry.html">Egisonでリーマン幾何学 [2016/12/24]</a></li>
    <li><a href="./MotivationOfResearch.html">プログラミング言語研究の動機 [2016/11/07]</a></li>
    <li><a href="./JapanOSSEncouragementAwardSpeech.html">日本OSS奨励賞受賞LT [2015/10/23]</a></li>
    <li><a href="./PPL2015.html">PPL 2015 パターンマッチ指向プログラミング言語Egisonチュートリアル [2015/03/05]</a></li>
    <li><a href="./SoftwareJapanAwardCeremony.html">ソフトウエアジャパンアワード授賞式 [2015/02/12]</a></li>
    <li><a href="./SoftwareJapanAwardSpeech.html">ソフトウエアジャパンアワード受賞スピーチ [2015/02/03]</a></li>
    <li><a href="./CodeIQ-2.html">Egisonによる関数型プログラミング入門 [2015/01/05]</a></li>
    <li><a href="./CodeIQ-1.html">新しいプログラミング言語を作る理由 [2014/10/14]</a></li>
    <li><a href="./AI.html">人工知能 [2010/10/14]</a></li>
  </ul>
  
  <h3>Twitter</h3>
  
  <a class="twitter-timeline" href="https://twitter.com/Egison_Lang" data-widget-id="464647679801163776">Tweets by @Egison_Lang</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
  
</div>
