<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/base.html">Base Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <a href="/libraries/core/base.html#demo-bool"><code>bool</code></a> <a href="/libraries/core/base.html#demo-char"><code>char</code></a> <a href="/libraries/core/base.html#demo-integer"><code>integer</code></a> <a href="/libraries/core/base.html#demo-float"><code>float</code></a>
      </td>
    </tr>
    <tr>
      <td>Basics</td>
      <td>
        <a href="/libraries/core/base.html#demo-id"><code>id</code></a> <a href="/libraries/core/base.html#demo-fst"><code>fst</code></a> <a href="/libraries/core/base.html#demo-snd"><code>snd</code></a> <a href="/libraries/core/base.html#demo-compose"><code>compose</code></a> <a href="/libraries/core/base.html#demo-compose3"><code>compose3</code></a> <a href="/libraries/core/base.html#demo-eq-m"><code>eq?/m</code></a>
      </td>
    </tr>
    <tr>
      <td>Booleans</td>
      <td>
        <a href="/libraries/core/base.html#demo-and"><code>and</code></a> <a href="/libraries/core/base.html#demo-or"><code>or</code></a> <a href="/libraries/core/base.html#demo-not"><code>not</code></a>
      </td>
    </tr>
    <tr>
      <td>Unordered Pair</td>
      <td>
        <a href="/libraries/core/base.html#demo-unordered-pair"><code>unordered-pair</code></a>
      </td>
    </tr>
  </tbody>
</table>
