<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/base.html">Base Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <code>bool</code> <code>char</code> <code>integer</code> <code>float</code>
      </td>
    </tr>
    <tr>
      <td>Basics</td>
      <td>
        <code>id</code> <code>fst</code> <code>snd</code> <code>compose</code> <code>compose3</code> <code>ref</code> <code>eq?/m</code>
      </td>
    </tr>
    <tr>
      <td>Booleans</td>
      <td>
        <code>and</code> <code>or</code> <code>not</code>
      </td>
    </tr>
  </tbody>
</table>
