<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/collection.html">Collection Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td><code>list</code> <code>ordered-list</code> <code>multiset</code> <code>set</code></td>
    </tr>
    <tr>
      <td>Lists</td>
      <td>
        <code>nth</code> <code>take</code> <code>drop</code> <code>take-and-drop</code> <code>while</code><br/>
        <code>cons</code> <code>car</code> <code>cdr</code> <code>rac</code> <code>rdc</code><br/>
        <code>length</code> <code>map</code> <code>map2</code> <code>filter</code> <code>zip</code> <code>lookup</code> <code>foldr</code> <code>foldl</code> <code>scanl</code> <code>append</code> <code>concat</code> <code>reverse</code> <code>intersperse</code> <code>intercalate</code> <code>split</code> <code>split/m</code> <code>find-cycle</code> <code>find-cycle/m</code> <code>repeat</code> <code>repeat1</code>
        <code>all</code> <code>any</code> <code>from</code> <code>between</code>
      </td>
    </tr>
    <tr>
      <td>Multisets</td>
      <td>
         <code>add</code> <code>add/m</code> <code>delete-first</code> <code>delete-first/m</code> <code>delete</code> <code>delete/m</code> <code>difference</code> <code>difference/m</code> <code>include?</code> <code>include?/m</code> <code>union</code> <code>union/m</code> <code>intersect</code> <code>intersect/m</code>
        <code>member?</code> <code>member?/m</code>
        <code>count</code> <code>count/m</code> <code>frequency</code> <code>frequency/m</code>
      </td>
    </tr>
    <tr>
      <td>Sets</td>
      <td><code>unique</code> <code>unique/m</code></td>
    </tr>
  </tbody>
</table>
