<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/io.html">IO Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>I/O</td>
      <td>
        <a href="/libraries/core/io.html#demo-print"><code>print</code></a> <a href="/libraries/core/io.html#demo-print-to-port"><code>print-to-port</code></a> <a href="/libraries/core/io.html#demo-display"><code>display</code></a> <a href="/libraries/core/io.html#demo-display-to-port"><code>display-to-port</code></a><br/><br/>
        <a href="/libraries/core/io.html#demo-each-line"><code>each-line</code></a> <a href="/libraries/core/io.html#demo-each-line-from-port"><code>each-line-from-port</code></a>
      </td>
    </tr>
    <tr>
      <td>Others</td>
      <td>
        <a href="/libraries/core/io.html#demo-each"><code>each</code></a> <a href="/libraries/core/io.html#demo-debug"><code>debug</code></a> <a href="/libraries/core/io.html#demo-debug2"><code>debug2</code></a>
      </td>
    </tr>
  </tbody>
</table>
