<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/io.html">IO Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>I/O</td>
      <td>
        <a href="/libraries/core/io.html#demo-print"><code>print</code> <a href="/libraries/core/io.html#demo-print-to-port"><code>print-to-port</code><br/>
        <a href="/libraries/core/io.html#demo-each-line"><code>each-line</code> <a href="/libraries/core/io.html#demo-each-line-from-port"><code>each-line-from-port</code>
      </td>
    </tr>
    <tr>
      <td>Others</td>
      <td>
        <a href="/libraries/core/io.html#demo-each"><code>each</code>
      </td>
    </tr>
  </tbody>
</table>
