<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/manual/primitive-functions.html#ioprimitives">Primitive Functions with a Side Effect</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>I/O</td>
      <td><code>open-input-file</code> <code>open-output-file</code> <code>close-input-port</code> <code>close-output-port</code> <code>read-char</code> <code>read-line</code> <code>write-char</code> <code>write-string</code> <code>write</code> <code>eof?</code> <code>flush</code> <code>read-char-from-port</code> <code>read-line-from-port</code> <code>write-char-to-port</code> <code>write-string-to-port</code> <code>write-to-port</code> <code>eof-port?</code> <code>flush-port</code></td>
    </tr>
    <tr>
      <td>Other</td>
      <td><code>return</code> <code>rand</code></td>
    </tr>
  </tbody>
</table>
