<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/number.html">Number Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <a href="/libraries/core/number.html#demo-nat"><code>nat</code></a> <a href="/libraries/core/number.html#demo-mod"><code>mod</code></a>
      </td>
    </tr>
    <tr>
      <td>Sequences</td>
      <td>
        <a href="/libraries/core/number.html#demo-nats"><code>nats</code></a> <a href="/libraries/core/number.html#demo-nats0"><code>nats0</code></a> <a href="/libraries/core/number.html#demo-odds"><code>odds</code></a> <a href="/libraries/core/number.html#demo-evens"><code>evens</code></a> <a href="/libraries/core/number.html#demo-primes"><code>primes</code></a> <a href="/libraries/core/number.html#demo-fibs"><code>fibs</code></a>
      </td>
    </tr>
    <tr>
      <td>Natural numbers</td>
      <td>
        <a href="/libraries/core/number.html#demo-divisor"><code>divisor?</code></a> <a href="/libraries/core/number.html#demo-find-factor"><code>find-factor</code></a> <a href="/libraries/core/number.html#demo-p-f"><code>p-f</code></a> <a href="/libraries/core/number.html#demo-n-adic"><code>n-adic</code></a> <a href="/libraries/core/number.html#demo-odd"><code>odd?</code></a> <a href="/libraries/core/number.html#demo-even"><code>even?</code></a> <a href="/libraries/core/number.html#demo-prime"><code>prime?</code></a> <a href="/libraries/core/number.html#demo-square"><code>square?</code></a> <a href="/libraries/core/number.html#demo-gcd"><code>gcd</code></a> <a href="/libraries/core/number.html#demo-fact"><code>fact</code></a> <a href="/libraries/core/number.html#demo-perm"><code>perm</code></a> <a href="/libraries/core/number.html#demo-comb"><code>comb</code></a>
      </td>
    </tr>
    <tr>
      <td>Integers</td>
      <td>
        <a href="/libraries/core/number.html#demo-power"><code>power</code></a> <a href="/libraries/core/number.html#demo-sum"><code>sum</code></a> <a href="/libraries/core/number.html#demo-product"><code>product</code></a>
      </td>
    </tr>
    <tr>
      <td>Decimal fractions</td>
      <td>
        <a href="/libraries/core/number.html#demo-rtod"><code>rtod</code></a> <a href="/libraries/core/number.html#demo-rtod-dash"><code>rtod'</code></a> <a href="/libraries/core/number.html#demo-show-decimal"><code>show-decimal</code></a> <a href="/libraries/core/number.html#demo-show-decimal-dash"><code>show-decimal'</code></a> <a href="/libraries/core/number.html#demo-regular-continued-fraction"><code>regular-continued-fraction</code></a> <a href="/libraries/core/number.html#demo-continued-fraction"><code>continued-fraction</code></a>
      </td>
    </tr>
  </tbody>
</table>
