<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/number.html">Number Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <code>nat</code> <code>mod</code>
      </td>
    </tr>
    <tr>
      <td>Sequences</td>
      <td>
        <code>nats</code> <code>nats0</code> <code>odds</code> <code>evens</code> <code>primes</code>
      </td>
    </tr>
    <tr>
      <td>Natural numbers</td>
      <td>
        <code>divisor?</code> <code>find-factor</code> <code>p-f</code> <code>odd?</code> <code>even?</code> <code>prime?</code> <code>gcd</code> <code>fact</code> <code>perm</code> <code>comb</code>
      </td>
    </tr>
    <tr>
      <td>Integers</td>
      <td>
        <code>power</code> <code>sum</code> <code>product</code>
      </td>
    </tr>
    <tr>
      <td>Decimal fractions</td>
      <td>
        <code>rtod</code> <code>rtod'</code> <code>show-decimal</code> <code>show-decimal'</code> <code>regular-continued-fraction</code> <code>continued-fraction</code>
      </td>
    </tr>
  </tbody>
</table>
