<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/order.html">Order Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <code>comparing</code>
      </td>
    </tr>
    <tr>
      <td>Comparison</td>
      <td>
        <code>compare</code> <code>min</code> <code>min/fn</code> <code>max</code> <code>max/fn</code> <code>min-and-max</code> <code>min-and-max/fn</code> <code>qsort</code> <code>qsort/fn</code>
      </td>
    </tr>
  </tbody>
</table>
