<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/manual/primitive-functions.html#primitives">Primitive Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Numbers</td>
      <td>
        <code>+</code> <code>-</code> <code>*</code> <code>/</code> <code>numerator</code> <code>denominator</code> <code>modulo</code> <code>quotient</code> <code>remainder</code> <code>neg</code> <code>abs</code><br/>
        <code>eq?</code> <code>lt?</code> <code>lte?</code> <code>gt?</code> <code>gte?</code>
    </tr>
    <tr>
      <td>Float numbers</td>
      <td><code>round</code> <code>floor</code> <code>ceiling</code> <code>truncate</code> <code>sqrt</code> <code>exp</code> <code>log</code> <code>sin</code> <code>cons</code> <code>tan</code> <code>asin</code> <code>acos</code> <code>atan</code> <code>sinh</code> <code>cosh</code> <code>tanh</code> <code>asinh</code> <code>acosh</code> <code>atanh</code> <code>itof</code> <code>rtof</code></td>
    </tr>
    <tr>
      <td>Strings</td>
      <td><code>pack</code> <code>unpack</code> <code>uncons-string</code> <code>length-string</code> <code>append-string</code> <code>split-string</code> <code>regex</code> <code>regex-cg</code> <code>read</code> <code>show</code>
    </tr>
    <tr>
      <td>Collections</td>
      <td><code>empty?</code> <code>uncons</code> <code>unsnoc</code></td></td>
    </tr>
    <tr>
      <td>Predicates</td>
      <td><code>bool?</code> <code>integer?</code> <code>rational?</code> <code>char?</code> <code>string?</code> <code>tuple?</code> <code>collection?</code> <code>array?</code> <code>hash?</code></td></td>
    </tr>
  </tbody>
</table>
