<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/random.html">Random Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <code>R.multiset</code> <code>R.set</code>
      </td>
    </tr>
    <tr>
      <td>Random</td>
      <td>
        <code>pure-rand</code> <code>randomize</code> <code>R.between</code> <code>R.uncons</code> <code>R.car</code> <code>R.cdr</code>
      </td>
    </tr>
  </tbody>
</table>
