<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/random.html">Random Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <a href="/libraries/core/random.html#demo-R-multiset"><code>R.multiset</code></a> <a href="/libraries/core/random.html#demo-R-set"><code>R.set</code></a>
      </td>
    </tr>
    <tr>
      <td>Random</td>
      <td>
        <a href="/libraries/core/random.html#demo-pure-rand"><code>pure-rand</code></a> <a href="/libraries/core/random.html#demo-randomize"><code>randomize</code></a> <a href="/libraries/core/random.html#demo-R-between"><code>R.between</code></a> <a href="/libraries/core/random.html#demo-R-uncons"><code>R.uncons</code></a> <a href="/libraries/core/random.html#demo-R-car"><code>R.car</code></a> <a href="/libraries/core/random.html#demo-R-cdr"><code>R.cdr</code></a>
      </td>
    </tr>
  </tbody>
</table>
