<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/string.html">String Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <code>string</code>
      </td>
    </tr>
    <tr>
      <td>Strings</td>
      <td>
        <code>S.empty?</code> <code>S.car</code> <code>S.cdr</code> <code>S.map</code> <code>S.length</code> <code>S.split</code> <code>S.append</code> <code>S.concat</code> <code>S.concat</code> <code>S.intercalate</code>
      </td>
    </tr>
    <tr>
      <td>Alphabet</td>
      <td>
        <code>alphabet?</code> <code>alphabets?</code> <code>upper-case</code> <code>lower-case</code>
      </td>
    </tr>
  </tbody>
</table>
