<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/libraries/core/string.html">String Core Library Functions</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Matchers</td>
      <td>
        <a href="/libraries/core/string.html#demo-string"><code>string</code></a>
      </td>
    </tr>
    <tr>
      <td>Strings</td>
      <td>
        <a href="/libraries/core/string.html#demo-S-empty-p"><code>S.empty?</code></a> <a href="/libraries/core/string.html#demo-S-car"><code>S.car</code></a> <a href="/libraries/core/string.html#demo-S-cdr"><code>S.cdr</code></a> <a href="/libraries/core/string.html#demo-S-rac"><code>S.rac</code></a> <a href="/libraries/core/string.html#demo-S-rdc"><code>S.rdc</code></a> <a href="/libraries/core/string.html#demo-S-map"><code>S.map</code></a> <a href="/libraries/core/string.html#demo-S-length"><code>S.length</code></a> <a href="/libraries/core/string.html#demo-S-split"><code>S.split</code></a> <a href="/libraries/core/string.html#demo-S-append"><code>S.append</code></a> <a href="/libraries/core/string.html#demo-S-concat"><code>S.concat</code></a>  <a href="/libraries/core/string.html#demo-intercalate"><code>S.intercalate</code></a>
      </td>
    </tr>
    <tr>
      <td>Characters</td>
      <td>
        <a href="/libraries/core/string.html#demo-C-between"><code>C.between</code></a> <a href="/libraries/core/string.html#demo-C-between-p"><code>C.between?</code></a> <a href="/libraries/core/string.html#demo-alphabet-p"><code>alphabet?</code></a> <a href="/libraries/core/string.html#demo-alphabets-p"><code>alphabets?</code></a> <a href="/libraries/core/string.html#demo-upper-case"><code>upper-case</code></a> <a href="/libraries/core/string.html#demo-lower-case"><code>lower-case</code></a>
      </td>
    </tr>
  </tbody>
</table>
