<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/manual/basics.html">Syntax</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Top expressions</td>
      <td>
        <a href="/manual/basics.html#define"><code>define</code> <a href="/manual/basics.html#define"><code>test</code></a> <a href="/manual/basics.html#load"><code>load</code></a> <a href="/manual/basics.html#load"><code>load-file</code></a>
    </tr>
    <tr>
      <td>Builtin data</td>
      <td>
        <a href="/manual/basics.html#boolean"><code>#t</code></a> <a href="/manual/basics.html#boolean"><code>#f</code></a> <a href="/manual/basics.html#integers"><code>10</code></a> <a href="/manual/basics.html#integers"><code>-3</code></a> <a href="/manual/basics.html#integers"><code>1+1i</code></a> <a href="/manual/basics.html#rational"><code>22/7</code></a> <a href="/manual/basics.html#rational"><code>2+1i/1-1i</code></a> <a href="/manual/basics.html#floats"><code>3.14</code></a>  <a href="/manual/basics.html#floats"><code>1.0+1.0i</code></a> <a href="/manual/basics.html#characters"><code>'E'</code></a> <a href="/manual/basics.html#strings"><code>"Egison"</code></a>
        <a href="/manual/basics.html#inductive-data"><code>&lt;<i>D</i> &gt;</code></a> <a href="/manual/basics.html#tuple"><code>[ ]</code></a> <a href="/manual/basics.html#collection"><code>{ }</code></a> <a href="/manual/basics.html#array"><code>[| |]</code></a> <a href="/manual/basics.html#hash"><code>{| |}</code></a> <a href="/manual/basics.html#undefined"><code>undefined</code></a>
    </tr>
    <tr>
      <td>Function</td>
      <td>
        <a href="/manual/basics.html#lambda"><code>lambda</code></a> <a href="/manual/basics.html#partial"><code>(<i>fn</i> $1 $2)</code></a> <a href="/quick.html#partial"><code><i>n</i>#<i>expr</i></code></a>
    </tr>
    <tr>
      <td>Let</td>
      <td>
        <a href="/manual/basics.html#let"><code>let</code></a> <a href="/manual/basics.html#let-star"><code>let*</code></a> <a href="/manual/basics.html#letrec"><code>letrec</code></a>
    </tr>
    <tr>
      <td>Match</td>
      <td>
        <a href="/manual/patterns.html#match-all"><code>match-all</code></a> <a href="/manual/patterns.html#match"><code>match</code></a> <a href="/manual/patterns.html#match-all-lambda"><code>match-all-lambda</code></a> <a href="/manual/patterns.html#match-lambda"><code>match-lambda</code></a>
    </tr>
    <tr>
      <td>Patterns</td>
      <td>
        <a href="/manual/patterns.html#wildcard"><code>_</code></a> <a href="/manual/patterns.html#pattern-variable"><code>$<i>var</i></code></a> <a href="/manual/patterns.html#value-patterns"><code>,<i>val</i></code></a> <a href="/manual/patterns.html#predicate-patterns"><code>?<i>predicate</i></code></a> <a href="/manual/patterns.html#"><code>[ ]</code></a> <a href="/manual/patterns.html#inductive-patterns"><code>&lt;<i>p</i> &gt;</code></a> <a href="/manual/patterns.html#and-patterns"><code>(& )</code></a> <a href="/manual/patterns.html#or-patterns"><code>(| )</code></a> <a href="/manual/patterns.html#not-patterns"><code>!</code></a> <a href="/manual/patterns.html#loop-patterns"><code>(loop ...)</code></a> <a href="/manual/patterns.html#pattern-function"><code>pattern-function</code></a>
    </tr>
    <tr>
      <td>Matchers</td>
      <td>
        <a href="/manual/patterns.html#matcher"><code>matcher</code></a> <a href="/manual/patterns.html#matcher"><code>algebraic-data-matcher</code></a>
    </tr>
    <tr>
      <td>Array, Hash</td>
      <td>
        <a href="/manual/basics.html#array"><code><i>var</i>_<i>n</i></code></a> <a href="/manual/basics.html#generate-array"><code>generate-array</code></a> <a href="/manual/basics.html#array-bounds"><code>array-bounds</code></a> <a href="/manual/basics.html#array-ref"><code>array-ref</code></a> 
    </tr>
    <tr>
      <td>Evaluation strategy</td>
      <td>
        <a href="/manual/basics.html#seq"><code>seq</code></a>
    </tr>
    <tr>
      <td>IO</td>
      <td>
        <a href="/manual/io.html#io"><code>io</code></a> <a href="/manual/io.html#do"><code>do</code></a>
    </tr>
    <tr>
      <td>Other</td>
      <td>
        <a href="/manual/basics.html#if"><code>if</code></a> <a href="/manual/basics.html#apply"><code>apply</code></a>
    </tr>
  </tbody>
</table>
