<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2"><a href="/manual/basics.html">Syntax</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Top expressions</td>
      <td>
        <code>define</code> <code>test</code> <code>load</code> <code>load-file</code>
    </tr>
    <tr>
      <td>Builtin data</td>
      <td>
        <code>#t</code> <code>#f</code> <code>10</code> <code>-3</code> <code>22/7</code> <code>3.14</code> <code>'E'</code> <code>"Egison"</code>
        <code>&lt;<i>D</i> &gt;</code> <code>[ ]</code> <code>{ }</code> <code>[| |]</code> <code>{| |}</code> <code>undefined</code>
    </tr>
    <tr>
      <td>Function</td>
      <td>
        <code>lambda</code> <code>(<i>fn</i> $1 $2)</code> <code><i>n</i>#<i>expr</i></code>
    </tr>
    <tr>
      <td>Let</td>
      <td>
        <code>let</code> <code>let*</code> <code></code> <code>letrec</code>
    </tr>
    <tr>
      <td>Match</td>
      <td>
        <code>match-all</code> <code>match</code> <code>match-all-lambda</code> <code>match-lambda</code>
    </tr>
    <tr>
      <td>Patterns</td>
      <td>
        <code>_</code> <code>$<i>var</i></code> <code>,<i>val</i></code> <code>[ ]</code> <code>&lt;<i>p</i> &gt;</code> <code>(& )</code> <code>(| )</code> <code>^</code> <code>(loop ...)</code> <code>pattern-function</code>
    </tr>
    <tr>
      <td>Matchers</td>
      <td>
        <code>matcher</code> <code>algebraic-data-matcher</code>
    </tr>
    <tr>
      <td>Array, Hash</td>
      <td>
        <code><i>var</i>_<i>n</i></code> <code>array-size</code> <code>generate-array</code>
    </tr>
    <tr>
      <td>Evaluation strategy</td>
      <td>
        <code>seq</code>
    </tr>
    <tr>
      <td>IO</td>
      <td>
        <code>do</code>
    </tr>
    <tr>
      <td>Other</td>
      <td>
        <code>if</code> <code>apply</code>
    </tr>
  </tbody>
</table>
