<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">代数学</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1のn乗根</td>
      <td>
        <a href="/ja/math/5th-root-of-unity.html"><code>1の5乗根</code><br/>
        <a href="/ja/math/7th-root-of-unity.html"><code>1の7乗根</code><br/>
        <a href="/ja/math/9th-root-of-unity.html"><code>1の9乗根</code><br/>
        <a href="/ja/math/17th-root-of-unity.html"><code>1の17乗根</code>
      </td>
    </tr>
  </tbody>
</table>
