<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">解析学</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>微分</td>
      <td>
        <a href="/ja/math/polar-laplacian-2d.html">2次元極座標のラプラシアン</a><br/>
        <a href="/ja/math/polar-laplacian-3d.html">3次元極座標のラプラシアン</a><br/>
      </td>
    </tr>
    <tr>
      <td>無限級数</td>
      <td>
        <a href="/ja/math/eulers-formula.html">オイラーの公式</a><br/>
      </td>
    </tr>
    <tr>
      <td>フーリエ解析</td>
      <td>
        <a href="/ja/math/leibniz-formula.html">ライプニッツの公式</a><br/>
      </td>
    </tr>
  </tbody>
</table>
