<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">幾何学</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>三角関数</td>
      <td>
        <a href="/ja/math/trigonometric-identities.html">三角関数の公式</a><br/>
      </td>
    </tr>
    <tr>
      <td>微分幾何</td>
      <td>
        <a href="/ja/math/gaussian-curvature-of-surface.html">曲面のガウス曲率</a><br/>
        <a href="/ja/math/riemann-curvature-tensor-of-the-2-sphere.html">`S_2`のリーマン曲率テンソル</a><br/>
        <a href="/ja/math/riemann-curvature-tensor-of-the-2-torus.html">`T_2`のリーマン曲率テンソル</a><br/>
      </td>
    </tr>
  </tbody>
</table>
