<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">整数論</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>初等整数論</td>
      <td>
        <a href="/ja/math/tribonacci.html">トリボナッチ数列</a><br/>
        <a href="/ja/math/eulers-totient-function.html">オイラーのφ関数</a><br/>
      </td>
    </tr>
    <tr>
      <td>二次体</td>
      <td>
        <a href="/ja/math/gaussian-primes.html">`ZZ[i]`の素数</a><br/>
        <a href="/ja/math/eisenstein-primes.html">`ZZ[w]`の素数</a>
      </td>
    </tr>
  </tbody>
</table>
