<table class="table table-condensed">
  <colgroup>
    <col class="col-xs-2">
    <col class="col-xs-6">
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">整数論</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>初等整数論</td>
      <td>
        <a href="/ja/math/eulers-totient-function.html">オイラーのφ関数<br/>
      </td>
    </tr>
    <tr>
      <td>1のn乗根</td>
      <td>
        <a href="/ja/math/5th-root-of-unity.html">1の5乗根<br/>
        <a href="/ja/math/7th-root-of-unity.html">1の7乗根<br/>
        <a href="/ja/math/9th-root-of-unity.html">1の9乗根<br/>
        <a href="/ja/math/17th-root-of-unity.html">1の17乗根
      </td>
    </tr>
    <tr>
      <td>二次体</td>
      <td>
        <a href="/ja/math/gaussian-primes.html">`ZZ[i]`の素数<br/>
        <a href="/ja/math/eisenstein-primes.html">`ZZ[w]`の素数
      </td>
    </tr>
  </tbody>
</table>
