    <style>
      pre {
      background-color: #222;
      border: 0px;
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.3;
      font-family: 'Oxygen Mono';
      }
    /* The console container element */
    #console {
      position: relative;
      height: 250px;
      z-index: 9;
      background-color: #222;
      border: 2px solid #222;
      margin: 0 auto;
    }
    /* The inner console element. */
    .jqconsole {
        white-space: pre-wrap;
        padding: 10px;
    }
    .jqconsole-blurred {
        cursor: pointer;
    }
    /* The cursor. */
    .jqconsole-cursor {
        background-color: #ddd;
    }
    /* The cursor color when the console looses focus. */
    .jqconsole-blurred .jqconsole-cursor {
        background-color: #888;
    }
    /* The current prompt text color */
    .jqconsole-prompt {
        color: #0d0;
    }
    /* The command history */
    .jqconsole-old-prompt {
        color: #0d0;
        font-weight: normal;
    }
    /* The text color when in input mode. */
    .jqconsole-input {
        color: #dd0;
    }
    /* Previously entered input. */
    .jqconsole-old-input {
        color: #bb0;
        font-weight: normal;
    }
    /* The text color of the output. */
    .jqconsole-output, .jqconsole-header {
        color: white;
    }
    .paren {
      color: #FF00FF;
    }
    </style>
