<li><a href="http://www.egison.org/demonstrations/poker-hands.html">Poker Hands</a></li>
<li><a href="http://www.egison.org/demonstrations/mahjong.html">Mahjong</a></li>
<li><a href="http://www.egison.org/demonstrations/primes.html">Prime Numbers</a></li>
<li><a href="http://www.egison.org/demonstrations/tree.html">Trees</a></li>
<li><a href="http://www.egison.org/demonstrations/graph.html">Graphs</a></li>
<li><a href="http://www.egison.org/demonstrations/life-expectancy/">Time-Series Data</a></li>
