<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'egison'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" target="_blank">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink" target="_blank">comments powered by <span class="logo-disqus">Disqus</span></a>

<div  class="fb-like-box" data-href="https://www.facebook.com/egison.lang" data-height="260" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" style="margin-bottom:20px; margin-top:30px;"></div>

<div style="border-radius: 10px; background-color:#f5f5f5; border: 2px solid #222; margin-bottom:20px; padding: 10px; margin-top:30px; margin-left:15px; margin-right:15px;">
  This website in other langauge: <a href="http://www.egison.org">English</a>, <a href="http://www.egison.org/ja/">日本語</a>
</div>
