<li><a href="/faq.html#what-is-egison">What is Egison?</a></li>
<li><a href="/faq.html#why-the-name-is-egison">Why the name is Egison?</a></li>
<li><a href="/faq.html#why-new-language">Why new language?</a></li>
<li><a href="/faq.html#how-to-contribute">How to contribute?</a></li>
<li><a href="/faq.html#logic-programming">What is a difference with logic programming?</a></li>
<li><a href="/faq.html#related-work">What is the advantage of Egison over existing work?</a></li>
<li><a href="/faq.html#scripting">How to write scripts in Egison?</a></li>
