<footer class="footer">
  <p style="center">
    &copy; 2011-2014 <a href="http://www.egison.org/~egi/" target="_blank">Satoshi Egi</a> All rights reserved.
    Sponsored by <a href="http://global.rakuten.com/corp/" target="_blank">Rakuten, Inc.</a> and <a href="http://rit.rakuten.co.jp/" target="_blank">Rakuten Institute of Technology</a>.
  </p>
</footer>
<script src="/vendors/jquery-1.10.2.min.js"></script>
<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendors/codemirror/lib/codemirror.js"></script>
<script src="/vendors/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/vendors/codemirror/mode/egison/egison.js"></script>
