<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Satoshi Egi">
<link rel="shortcut icon" href="/favicon.ico?v=3">

<meta property="og:type" content="website"/>
<meta property="og:image" content="http://www.egison.org/images/EgisonLogo2.png" />
<meta property="og:title" content="The Egison Programming Langauge" />
<meta property="og:description" content="Egison is a programming language that realizes non-linear pattern-matching against non-free data types. We can directly represent pattern-matching against a wide range of data types such as lists, multisets, sets, trees and graphs." />
<meta property="og:url" content="http://www.egison.org" />
<meta property="og:site_name" content="The Egison Programming Language" />
<meta property="og:locale" content="en_US" />

<link href="/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<link href="/vendors/codemirror/lib/codemirror.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendors/font-mfizz/font-mfizz.css">
<link href="/egison.css?v=14" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9772679-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
