<li><a href="http://www.egison.org/libraries/core/base.html">lib/core/base.egi</a></li>
<li><a href="http://www.egison.org/libraries/core/collection.html">lib/core/collection.egi</a></li>
<li><a href="http://www.egison.org/libraries/core/order.html">lib/core/order.egi</a></li>
<li><a href="http://www.egison.org/libraries/core/number.html">lib/core/number.egi</a></li>
<li><a href="http://www.egison.org/libraries/core/math.html">lib/core/math.egi</a></li>
<li><a href="http://www.egison.org/libraries/core/io.html">lib/core/io.egi</a></li>
<li><a href="http://www.egison.org/libraries/string/string.html">lib/string/string.egi</a></li>
