<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.egison.org/">Egison</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentations<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Installation Manual</li>
                <li><a href="http://www.egison.org/getting-started/getting-started-mac.html">Install Egison in Mac</a></li>
                <li><a href="http://www.egison.org/getting-started/getting-started-linux.html">Install Egison in Linux</a></li>
                <li><a href="http://www.egison.org/getting-started/getting-started-windows.html">Install Egison in Windows</a></li>
                <li><a href="http://www.egison.org/getting-started/emacs.html">Emacs mode for Egison</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">User's Manual</li>
                <!--# include file="/templates/manual.html" -->
                <li class="divider"></li>
                <li class="dropdown-header">Developer's Manual</li>
                <li><a href="http://www.egison.org/manual/mechanism.html">Pattern-Matching Mechanism</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Cheat Sheet</li>
                <li><a href="http://www.egison.org/cheatsheet.html">Egison Cheat Sheet</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Others</li>
                <li><a href="http://www.egison.org/concept.html">Concept of Egison</a></li>
                <li><a href="http://www.egison.org/history.html">History of Egison</a></li>
                <li><a href="http://www.egison.org/faq.html">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Libraries<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Libraries</li>
                <!--# include file="/templates/libraries.html" -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demonstrations<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Demonstrations</li>
                <!--# include file="/templates/demonstrations.html" -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Source Code</li>
                <li><a href="https://github.com/egison/egison" role="button" target="_blank">Code on GitHub</a></li>
                <li class="dropdown-header">Developement Status</li>
                <li><a href="https://github.com/egison/egison/releases" role="button" target="_blank">ChangeLog on GitHub</a></li>
                <li><a href="http://www.egison.org/milestones.html" role="button">Milestones</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Try It Out<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Online Tools</li>
                <li><a href="http://console.egison.org" role="button" target="_blank">Online Egison Interpreter</a></li>
                <li><a href="http://try.egison.org" role="button" target="_blank">Online Egison Tutorial</a></li>
                <li><a href="http://www.egison.org/editor" role="button" target="_blank">Online Egison Editor</a></li>
              </ul>
            </li>
            <li><a href="http://www.egison.org/blog">Blog</a></li>
            <li><a href="http://www.egison.org/community.html">Community</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="Egison_Lang">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
              <iframe src="http://ghbtns.com/github-btn.html?user=egison&repo=egison&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
