<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Egison</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Getting started</li>
                <li><a href="/getting-started/getting-started-mac.html">Install Egison in Mac</a></li>
                <li><a href="/getting-started/getting-started-linux.html">Install Egison in Linux</a></li>
                <li><a href="/getting-started/getting-started-windows.html">Install Egison in Windows</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Cheat Sheet</li>
                <li><a href="/cheatsheet.html">Egison Cheat Sheet</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">User's Manual</li>
                <li><a href="/manual/basics.html">Basics of Syntax and Semantics</a></li>
                <li><a href="/manual/patterns.html">Basics of Patterns : Syntax and Semantics</a></li>
                <li><a href="/manual/pattern-matching.html">Pattern Matching</a></li>
                <li><a href="/manual/matchers.html">Matchers</a></li>
                <li><a href="/manual/io.html">Basics of I/O</a></li>
                <li><a href="/manual/primitives.html">Primitive functions</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Others</li>
                <li><a href="/getting-started/emacs.html">Emacs mode for Egison</a></li>
                <li><a href="/faq.html">View FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Code<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Libraries</li>
                <li><a href="/libraries/core/base.html">lib/core/base.egi</a></li>
                <li><a href="/libraries/core/collection.html">lib/core/collection.egi</a></li>
                <li><a href="/libraries/core/order.html">lib/core/order.egi</a></li>
                <li><a href="/libraries/core/number.html">lib/core/number.egi</a></li>
                <li><a href="/libraries/core/natural-number.html">lib/core/natural-number.egi</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Demonstrations</li>
                <!--# include file="/templates/demonstrations.html" -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Developers<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Developer's Manual</li>
                <li><a href="/manual/mechanism.html">Pattern-matching Mechanism</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Developement Status</li>
                <li><a href="https://github.com/egison/egison/releases" role="button" target="_blank">ChangeLog on GitHub</a></li>
                <li><a href="/milestones.html" role="button">Milestones</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Interpreter</li>
                <li><a href="http://console.egison.org" role="button" target="_blank">Online Egison Interpreter</a></li>
                <li class="dropdown-header">Tutorial</li>
                <li><a href="http://try.egison.org" role="button" target="_blank">Online Egison Tutorial</a></li>
                <li class="dropdown-header">Editor</li>
                <li><a href="/editor" role="button" target="_blank">Online Egison Editor</a></li>
              </ul>
            </li>
            <li><a href="/blog">Blog</a></li>
            <!--
            <li><a href="/about.html">About</a></li>
            -->
            <li><a href="/community.html">Community</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="Egison_Lang">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
              <iframe src="http://ghbtns.com/github-btn.html?user=egison&repo=egison&type=watch&count=true" height="30" width="118" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
