<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1535965523356946&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://www.egison.org">Egison</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://egison.readthedocs.io/en/latest/">Documentations</a></li>
<!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentations<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Installation Manual</li>
                <li><a href="/getting-started/getting-started-mac.html">Install Egison in Mac</a></li>
                <li><a href="/getting-started/getting-started-linux.html">Install Egison in Linux</a></li>
                <li><a href="/getting-started/getting-started-windows.html">Install Egison in Windows</a></li>
                <li class="dropdown-header">Emacs Mode</li>
                <li><a href="/getting-started/emacs.html">Emacs Mode for Egison</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">User's Manual</li>
                <!--# include file="/templates/manual.html" -->
                <li class="divider"></li>
                <li class="dropdown-header">Developer's Manual</li>
                <li><a href="/manual/mechanism.html">Pattern-Matching Mechanism</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Cheat Sheet</li>
                <li><a href="/cheatsheet.html">Egison Cheat Sheet</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Quick Reference</li>
                <li><a href="/quick.html">Egison Quick Reference</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Developement Status</li>
                <li><a href="https://github.com/egison/egison/releases" role="button" target="_blank">ChangeLog on GitHub</a></li>
                <li><a href="/milestones.html" role="button">Milestones</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Others</li>
                <li><a href="/concept.html">Concept of Egison</a></li>
                <li><a href="/history.html">History of Egison</a></li>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/manual/command.html">Egison Command Line Tutorial</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Libraries<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/cheatsheet.html">List of all core functions</a></li>
                <li class="dropdown-header">Libraries</li>
                <!--# include file="/templates/libraries.html" -->
              </ul>
            </li>
-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Try It Out<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Online Tools</li>
                <li><a href="/console.html" role="button" target="_blank">Online Egison Interpreter</a></li>
                <li><a href="/try.html" role="button" target="_blank">Online Egison Tutorial</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Online Demonstrations</li>
                <!--# include file="/templates/demonstrations.html" -->
              </ul>
            </li>
            <li><a href="/math">Math</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/community.html">Community</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <!--
            <li>
              <div class="fb-like" data-href="https://www.facebook.com/egison.lang" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </li>
            <li style="margin-right:10px;">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="Egison_Lang">Tweet</a>
            </li>
            -->
            <li>
              <iframe src="https://ghbtns.com/github-btn.html?user=egison&repo=egison&type=watch&count=true" height="30" width="93" frameborder="0" scrolling="0" style="width:118px; height: 30px;" allowTransparency="true"></iframe>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
